##Vinculo Modal
    
    <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#hongo01" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img  src="imagenes/ceiba.jpg" class="img-fluid" width="60%">
                    </div>
                </div>
                
##Cuadro Modal

 <div class="portfolio-modal modal fade" id="hongo01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                       <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>Herbario</h2>
                                <hr class="star-primary">
                                <a href="coleccion_plantas.html" data-dismiss="modal"><img  class="img-fluid img-centered" src="imagenes/ceiba.jpg" width="100%" alt=""></a>
                                <p>Coleccion de Plantas</p>
                                
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    ##Modal Simple
<div class="portfolio-modal modal fade" id="hongo01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                       <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <a href="coleccion_plantas.html" data-dismiss="modal"><img  class="img-fluid img-centered" src="imagenes/ceiba.jpg" width="100%" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>